{% extends "layout.html" %}

{% block title %}
  Helpful links
{% endblock title %}

{% block body %}
  <div class="container">
    <!-- <h1>Shree Ganeshay Namah</h1> -->
    <h1 style="margin-top: 30px;">Helpful Links</h1>
    <ul class="list-group" style="margin-top: 30px;">
      <li class="list-group-item">
        <h4>Helpline Numbers By State</h4>
        <a href="HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF" style="color: blue;text-transform: lowercase;">HTTPS://WWW.MOHFW.GOV.IN/PDF/CORONVAVIRUSHELPLINENUMBER.PDF</a>      
      </li>
      <li class="list-group-item">
        <h4>Ministry of health and welfare</h4>
        <a href="HTTPS://WWW.MOHFW.GOV.IN/" style="color: blue;text-transform: lowercase;">HTTPS://WWW.MOHFW.GOV.IN/</a>      
      </li>
      <li class="list-group-item">
        <h4>CDC</h4>
        <a href="HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML" style="color: blue;text-transform: lowercase;">HTTPS://WWW.CDC.GOV/CORONAVIRUS/2019-NCOV/FAQ.HTML</a>      
      </li>
      <li class="list-group-item">
        <h4>WHO : COVID-19 HOME PAGE</h4>
        <a href="HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019" style="color: blue;text-transform: lowercase;">HTTPS://WWW.WHO.INT/EMERGENCIES/DISEASES/NOVEL-CORONAVIRUS-2019</a>      
      </li>
      <li class="list-group-item">
        <h4>CROWDSOURCED LIST OF RESOURCES & ESSENTIALS FROM ACROSS INDIA</h4>
        <a href="HTTPS://BIT.LY/COVID19RESOURCELIST" style="color: blue; text-transform: lowercase;">HTTPS://BIT.LY/COVID19RESOURCELIST</a>      
      </li>
      <li class="list-group-item">
        <h4>COVID-19 GLOBAL TRACKER</h4>
        <a href="HTTPS://CORONAVIRUS.THEBASELAB.COM/" style="color: blue;text-transform: lowercase;">HTTPS://CORONAVIRUS.THEBASELAB.COM/</a>      
      </li>
    </ul>
  </div>
{% endblock body %}